body 
{
    padding-top: 50px;
    
}


.login-form 
{
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}


#pic
    {
        width: 300px;
        height:300px;
        margin: 30px;
        padding-left:70px;
        float:left;
    }
    
    
#info
    {
        border: solid 2px #bfbfbf;
        width:700px;
        height: 400px;
        margin: 30px;
        border-radius: 10px;
    }
