{% extends "base.html" %}



{% block main %}


<h3> Profile </h3> <hr>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-success">
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}


<div>
    
    <form action = "{{ url_for('profile') }}" method = "POST" enctype = "multipart/form-data">
        {{ form.csrf_token }}
        
        <div>
               {{ form.firstname.label }} <em> (Required) </em>
               <p class = "small"> Please Enter Your First Name. </p>
               {{ form.firstname }}
        </div> <br/>
        
        <div>
               {{ form.lastname.label }} <em> (Required) </em>
               <p class = "small"> Please Enter Your Last Name. </p>
               {{ form.lastname }}
        </div> <br/>
        
        <div>
               {{ form.username.label }} <em> (Required) </em>
               <p class = "small"> Please Enter Your Username. </p>
               {{ form.username }}
        </div> <br/>
        
        <div>
               {{ form.age.label }} <em> (Required) </em>
               <p class = "small"> Please Enter Your Age. </p>
               {{ form.age }}
        </div> <br/>
        
        <div>
               {{ form.bio.label }} <em> (Required) </em>
               <p class = "small"> Please Enter Your Biography. </p>
               {{ form.bio }}
        </div> <br/>
        
        <div>
               {{ form.gender.label }} <em> (Required) </em>
               <p class = "small"> Please Enter Your Gender. </p>
               {{ form.gender }}
        </div> <br/>
        
        <div>
            {{ form.img.label }}
            {{ form.img }}
        </div> <br/> <br/>
        
         <button type = "submit"> Sumbit </button>
         
    </form>
</div>

{% endblock %}