{% extends "base.html" %}



{% block main %}


<h3> Profile </h3> <hr>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-success">
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}


<div>
    
    <form action = "{{ url_for('profiles') }}" method = "POST">
        
        <div>
               <label for = "firstname" class = "small"> First Name  </label> <em> (Required) </em>
               <p class = "small"> Please Enter Your First Name. </p>
               <input type = "text" id = "firstname" name = "firstname"/>
        </div> <br/>
        
        <div>
               <label for = "lastname" class = "small"> Last Name  </label> <em> (Required) </em>
               <p class = "small"> Please Enter Your Last Name. </p>
               <input type = "text" id = "lastname" name = "lastname"/>
        </div> <br/>
        
        <div>
               <label for = "username" class = "small"> Username  </label> <em> (Required) </em>
               <p class = "small"> Please Enter Your Username. </p>
               <input type = "text" id = "username" name = "username"/>
        </div> <br/>
        
        <div>
               <label for = "age" class = "small"> Age  </label> <em> (Required) </em>
               <p class = "small"> Please Enter Your Age. </p>
               <input type = "number" id = "age" name = "age"/>
        </div> <br/>
        
        <div>
               <label for = "biography" class = "small"> Biography </label> <em> (Required) </em>
               <p class = "small"> Please Enter Your Biography. </p>
               <textarea name = "bio" cols = "25" row = "5"> </textarea>
        </div> <br/>
        
        <div>
               <label for = "gender" class = "small"> Gender  </label> <em> (Required) </em>
               <p class = "small"> Please Enter Your Gender. </p>
               <input type = "radio" name = "gender" value = "male"> Male<br>
               <input type = "radio" name = "gender" value = "female"> Female<br>
               <input type = "radio" name = "gender" value = "other"> Other<br><br>
        </div> <br/>
        
        <div>
            <label for = "file"> Upload Your Picture </label>
            <input type = "file" name = "file" class = "form-control" />
        </div> <br/> <br/>
        
         <button type = "submit"> Sumbit </button>
         
    </form>
</div>

{% endblock %}