{% extends 'base.html' %}

{% block css %}

    <link rel="stylesheet" href="/static/css/app.css"> 

{% endblock %}



{% block main %}
<!--<h1 class="page-header">User Profile</h1>-->
<div id = "info">
    
    <div>
        <img id = "pic" src = "/static/uploads/{{ user['image'] }}"/> 
    </div>

    <div>
         <h3> {{ user["firstname"] }} {{ user["lastname"] }} </h3>
         <p> <strong>  Profile Created On: </strong> {{ user["created_on"].strftime("%a, %d %b %Y") }} </p> <br> 
         <p> <strong>  Username: </strong> {{ user["username"] }} </p> 
         <p> <strong>  User ID: </strong> {{ user["userid"] }} </p> 
         <p> <strong>  Gender: </strong> {{ user["gender"] }} </p> 
         <p> <strong>  Age: </strong> {{ user["age"] }} </p> <br><br> 
         <p> {{ user["bio"] }} </p> 
    </div>
    
</div>


{% endblock %}

